*{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    align-items: center;
background-color: rgb(253, 253, 253);
height: 50px;
width: 100%;
}


header .logo img{
    height: 50px;
    width: 50px;
}


header .logo{
    display: flex;
    align-items: center;
    position:absolute;
    right: 600px;
    
    /* text-align: justify; */
    /* overflow: hidden; */
}

header .logo .logo-txt{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    text-align: justify;
    /* position:absolute;
    right: 100px; */
    
}

/* header .logo h2{
    align-items: center;
    position: absolute;
    top: 10px;
} */

header menu a{
    text-decoration: none;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 16px;
    font-style: bold;
   
    /* gap: 30px; */
    /* background-color: ; */
}

header menu a:hover{
     color: rgb(251, 89, 14);
}

header .search-bar{
    align-items: center;
    position:absolute;
    right: 20px;
    /* float: right; */
}

.slides .text{
   
    color: white;
    position: absolute;
    /* top: 80px; */
    right: 80px;
    bottom: 30px;
    text-align:justify;
}
.slides .text h1{
    font-size: 80px;
}
.slides .text h4{
    font-size: 30px;
}

.slides{
    height:15px;
    width: 100%;
}

header .search-bar button{
    background-color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    border-color: none;
    border-style: hidden;
}
header .search-bar button:hover{
    background-color:rgb(255, 129, 71);
    color: white;
    /* font-size: medium; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

header .search-bar input{
    /* padding: 1px 2px; */
    border-radius: 2px;
   /* border-style:ridge; */
   /* border-color: orangered; */
}



